@media screen and (max-width: 400px) {
  .sh {
    display: none;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  background-color: #fff;
  color: #4d5156;
  margin: 0;
  width: 600px;
  padding-bottom: 10px;
  user-select: none;
  max-height: 500px;
  min-height: 240px;
}
body:has(dialog[open]) {
  min-height: 300px;
}
body.vertical {
  width: unset;
  max-height: unset;
  min-height: unset;
  overflow: hidden;
  height: 100vh;
}
@media (pointer: none), (pointer: coarse) {
  body {
    width: unset;
    max-height: unset;
    min-height: unset;
    overflow: hidden;
  }
}
header {
  text-indent: 64px;
  background: url('../icons/128.png') left 10px center no-repeat;
  background-size: 48px;
  min-height: 64px;
  border-bottom: solid 3px #d4d4d4;
  margin-bottom: 10px;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr min-content ;
  align-items: center;
}
header > span {
  font-size: 140%;
}
header > label {
  margin-right: 10px;
  white-space: nowrap;
  display: flex;
  gap: 5px;
  text-indent: initial;
}
h1 {
  font-weight: normal;
  font-size: 140%;
  display: inline-block;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  cursor: pointer;
  padding: 3px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
li:hover {
  background-color: #eee;
}
table {
  width: calc(100% - 10px);
  table-layout: fixed;
}
tbody:empty::before {
  content: 'no session to restore yet!';
  font-style: italic;
  color: #ccc;
  padding-left: 10px;
}
#popup {
  padding: 0;
  border: none;
}
#popup[open] {
  display: flex;
}
#popup iframe {
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  border: none;
  background-color: #fff;
}
input[type=submit],
input[type=button] {
  border: none;
  padding: 5px 20px;
  background: #f1f1f1;
  cursor: pointer;
}
input[type=checkbox],
input[type=radio] {
  margin: 0 5px;
}

#sessions {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content min-content min-content min-content min-content min-content min-content;
  white-space: nowrap;
  grid-column-gap: 5px;
  grid-row-gap: 2px;
  margin: 5px 10px 5px 8px;
  align-items: center;
  width: calc(100vw - 18px);
}
#sessions > div {
  display: contents;
}
#sessions > div.header > * {
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  background-color: #fff;
  text-align: center;
  font-weight: 500;
}

#sessions td:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  padding: 3px 10px;
}
#sessions [data-session] {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#sessions [data-session]:hover {
  background-color: #eee;
}
#sessions [data-id="lock"] {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('unlock.svg');
  background-size: 16px;
}
#sessions > div[data-locked="true"] > [data-id="lock"] {
  background-image: url('locked.svg');
}
#sessions [data-id="permanent"],
#sessions [data-id="synced"] {
  text-align: center;
}
#sessions [data-cmd=overwrite],
#sessions [data-cmd=preview],
#sessions [data-cmd=rename],
#sessions [data-cmd=remove] {
  cursor: pointer;
  background-color: #f1f1f1;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 18px;
  width: 32px;
}
#sessions [data-cmd=overwrite] {
  background-image: url("overwrite.svg");
}
#sessions [data-cmd].disabled,
#sessions > div[data-locked=true] [data-cmd=overwrite] {
  opacity: 0.2;
  pointer-events: none;
}
#sessions [data-cmd=preview] {
  background-image: url("preview.svg");
}
#sessions [data-cmd=rename] {
  background-image: url("rename.svg");
}
#sessions [data-cmd=remove] {
  background-image: url("remove.svg");
}
#sessions [data-cmd=overwrite]:hover,
#sessions [data-cmd=rename]:hover,
#sessions [data-cmd=preview]:hover,
#sessions [data-cmd=remove]:hover {
  background-color: #e45e5e;
  color: #fff;
}
#sessions > div [data-session] {
  color: #1c73ff;
}
#prompt {
  padding: 0;
  border: none;
}
#prompt[open] {
  display: flex;
}
#prompt > form {
  width: calc(100vw - 60px);
  height: 100px;
  background-color: #fff;
  border: solid 1px #d4d4d4;
  padding: 10px;
}
#prompt input[type="text"],
#prompt input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  text-indent: 5px;
  padding: 5px;
  margin-top: 5px;
}
#prompt:not([data-type="password"]) input[type="password"] {
  display: none;
}
#prompt:not([data-type="prompt"]) input[type="text"] {
  display: none;
}
#manager {
  display: grid;
  grid-template-columns: 1fr repeat(3, min-content);
  white-space: nowrap;
  align-items: center;
  margin: 10px;
  grid-gap: 5px;
}
#manager > :not(:first-child) {
  justify-self: end;
}

#manager div,
#manager label {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 400px) {
  #manager {
    grid-template-columns: 1fr min-content min-content;
  }
  #manager > :first-child {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

body[data-count="0"] #manager,
body[data-count="0"] #sessions {
  display: none;
}

.all,
.current,
.selected,
.other {
  padding: 0 2px;
  pointer-events: none;
}
.all {
  background-color: #ffefbe;
}
.other {
  background-color: #c6ffc6;
}
.current {
  background-color: #e5e5ff;
}
.selected {
  background-color: #ffd6ed;
}

[hbox] {
  display: flex;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[pack=center] {
  justify-content: center;
}
[align=center] {
  align-items: center;
}
[pack=start] {
  justify-content: flex-start;
}
[align=start] {
  align-items: flex-start;
}
[pack=end] {
  justify-content: flex-end;
}
[align=end] {
  align-items: flex-end;
}
